<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/landmarks/<%=@landmark.id%>" method="post">
      <input type="hidden" id="hidden" name="_method" value="patch">
      <input type="text" id="name" name="landmark[name]" value="<%@landmark.name%>">
      <input type="text" id="year_completed" name="landmark[year_completed]" value="<%=@landmark.year_completed%>">
      <input type="submit" value="Edit Landmark">
    </form>
  </body>
</html>
