<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>Landmark Show Page</title>
    </head>
    <body>
      <%=@landmark.name%>
      <%=@landmark.year_completed%>

    </body>
  </html>
