<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Figures Index</title>
  </head>
  <body>
    <h1>All of the Figures</h1>

    <br></br>
    
    <%@figures.each do |figure| %>
      <%=figure.name%><br>
    <%end%>
  </body>
</html>
