<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Figure Show Page</title>
  </head>
  <body>
    <%=@figure.name%>

    <%@figure.titles.each do |title|%>
      <%=title.name%>
    <%end%>

    <%@figure.landmarks.each do |landmark|%>
      <%=landmark.name%>
    <%end%>

  </body>
</html>
